$items-container-color: rgb(235, 236, 240);
$item-text-background-color: lightblue;
$item-action-color:  lightgrey;
$item-action-color-hover:  grey;

.autocompleteTextBox{
    &__items{
        padding: 5px;

        @media (hover: hover){
            &:hover{
                background-color: $items-container-color;
            }
        }

        &-active{
            background-color: $items-container-color;
        }
    }

    &NoItems__text{
        display: inline-block;
        margin: 4px 10px;
        padding: 5px 10px;
        line-height: 28px;
        vertical-align: bottom;
        background-color: $items-container-color;
    }

    .autocompleteTextBoxItem{
        display: inline-block;
        margin: 4px 10px;

        &__text{
            background-color: $item-text-background-color;
        }

        &__text,
        &__remove,
        .autocompleteTextBoxAddBtn{
            padding: 5px 10px;
            line-height: 28px;
            vertical-align: bottom;
            display: inline-block;
        }

        &__remove{
            background-color: $item-action-color;
            font-weight: bold;
            cursor: pointer;
            
            @media (hover: hover){
                &:hover{
                    background-color: $item-action-color-hover;
                }
            }
        }

        .autocompleteTextBoxAddBtn{
            font-weight: 700;
            border: none;
            width: 35px;
            font-family: "Open Sans";
            margin: 0;
            font-size: 20px;
            background-color: $item-action-color;
        }

        @media (hover: hover){
            .autocompleteTextBoxAddBtn{
                display:none;
            }
        }
    }

    .autocompleteTextBoxNewItem{
        display:block;
        position: relative;
        margin: 4px 10px;

        &__container{
            position:absolute;
        }

        &__text{
            display:inline-block;
            min-width: 120px;
            padding: 5px 10px;
            outline: none;
            background-color: $item-text-background-color;
        }
    
        &__list{
            list-style-type: none;
            padding:0;
            width:100%;
            background-color: $item-text-background-color;
            margin: 0;
            box-sizing: border-box;
            border-top: solid 4px darkgray;
        }

        &__listitem{
            padding: 5px 10px;
            cursor: pointer;

            @media (hover: hover){
                &:hover{
                    background-color: $item-action-color;
                    font-weight: bold;
                }
            }
        }
    }

    .hidden{
        display:none;
    }
}