.autocompleteTextBox{
    &__items{
        padding: 5px;

        &:hover,
        &-active{
            background-color: rgb(235, 236, 240);
        }

        &:focus{
            background-color: red;
        }
    }

    .autocompleteTextBoxItem{
        display: inline-block;
        margin: 4px 10px;

        &__text{
            background-color: lightblue;
        }

        &__text,
        &__remove,
        .autocompleteTextBoxAddBtn{
            padding: 5px 10px;
            line-height: 28px;
            vertical-align: bottom;
            display: inline-block;
        }

        .autocompleteTextBoxAddBtn{
            display:none;
        }

        &__remove{
            background-color: lightgrey;
            font-weight: bold;
            cursor: pointer;

            &:hover{
                background-color: grey;
            }
        }

        .autocompleteTextBoxAddBtn{
            font-weight: 700;
            border: none;
            width: 35px;
            font-family: "Open Sans";
            margin: 0;
            font-size: 20px;
            background-color: lightgrey;
        }

        @media (hover: hover){
            .autocompleteTextBoxAddBtn{
                display:none;
            }
        }
    }

    .autocompleteTextBoxNewItem{
        display:block;
        position: relative;
        margin: 4px 10px;

        &__container{
            position:absolute;
        }

        &__text{
            display:inline-block;
            min-width: 120px;
            padding: 5px 10px;
            outline: none;
            background-color: lightblue;
        }
    
        &__list{
            list-style-type: none;
            padding:0;
            width:100%;
            background-color: lightblue;
            margin: 0;
            box-sizing: border-box;
            border-top: solid 4px darkgray;
        }

        &__listitem{
            padding: 5px 10px;
            cursor: pointer;

            &:hover{
                background-color:lightgrey;
                font-weight: bold;
            }
        }
    }

    .hidden{
        display:none;
    }
}